<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ne pas réécrire les fichiers et dossiers existants (CSS, images, JS...)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tout rediriger vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
